body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2em;
    display: block;
}

.body {
    width: 100%;
}

.content {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    color: #2d8bce;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    line-height: 1em;
    padding-bottom: 0.5em;
}

h1 > .header-bold {
    padding-bottom: 0;
}

.container ~ .container {
    padding-top: 1em;
}

.header-bold {
    font-weight: bold;
    display: block;
    padding: 1em 0 0.5em 0;
    color: #2d8bce;
}

li {
    list-style: none;
    display: block;
}

.container-contact {
    font-size: 1.3em;
    text-align: center;
}

.container-links {
}

.center > h1 {
    text-align: center;
    padding-top: 0.5em;
}

a {
    color: #2d8bce;
}

a:visited {
    color: #234e84;
}

/* screen width less than 900px */
@media only screen and (max-width: 900px) {
    .content {
        width: 90% !important;
        margin: 0 auto;
    }

    h1 {
        /*line-height: 1em;*/
    }
}

/* screen width less than 1024px */
@media only screen and (max-width: 1024px) {

}



/* mobile wide/smaller tablets */
@media only screen and (max-width: 767px) {

}

/* mobile narrow */
@media only screen and (max-width: 480px) {

}