body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2em;
    display: block;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    color: #2d8bce;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.container ~ .container {
    padding-top: 1em;
}

.header-bold {
    font-weight: bold;
    display: block;
    padding: 1em 0 0.5em 0;
    color: #2d8bce;
}

li {
    list-style: none;
}

.container-contact {
    font-size: 1.3em;
    text-align: center;
}

.container-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.subcontainer-links {
    flex-grow: 1;
    align-self: flex-start;
}

.center > h1 {
    text-align: center;
}